html {
    font-family: Verdana, Geneva, sans-serif;
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    font-size: .7em;
    margin-top: 50px;
}

.map-selection-method {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.picks-and-bans {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

.pick-or-ban-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border: thick slategrey dashed;
    color: lightgray;
}

.pick-or-ban-box.over {
    border-color: darkslategray;
}

.available-maps {
    display: flex;
    justify-content: space-evenly;
}

.map {
    height: 100px;
    width: 100px;
    background-color: steelblue;
}

.map-image {
    width: 100%;
}

.map-selectable {
    cursor: move;
}

.map-picked-up {
    opacity: .4;
}