html {
    font-family: Verdana, Geneva, sans-serif;
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #333;
}

footer {
    font-size: .7em;
    margin-top: 50px;
}

.map-selection-method {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.picks-and-bans {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

.pick-or-ban-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border: thick slategrey dashed;
    color: lightgray;
}

.pick-or-ban-box.over {
    border-color: darkslategray;
}

.taken {
    border-style: solid;
}

.taken.ban {
    border-color: red;
}

.taken.pick {
    border-color: #00ff12;
}

.available-maps {
    display: flex;
    justify-content: space-evenly;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/e/ec/Swimming_pool_underwater_1.JPG');
    flex-wrap: wrap;
    padding: 50px;
    background-size: 100%;
}

.map {
    height: 110px;
    width: 200px;
    overflow: hidden;
    margin: 20px;
}

.map-image {
    width: 100%;
}

.map-selectable {
    cursor: move;
}

.map-picked-up {
    opacity: .4;
}

.map-name {    
    position: sticky;
    opacity: .8;
    background-color: #ffffff;
    padding: 5px 10px;
    bottom: 0;
    left: 0;
    height: auto;
    font-weight: bold;
    width: 100%;
    display: block;
    text-align: center;
}